<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index Page</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="jumbotron">
<center>
<div class="myclass" >
    <h3 class="display-3" center>Hello, Welcome to the Index page </h1>
    <br>
    </br>
    <br>
    </br>
  
  <div style="margin-top:10px" class="form-group" center>
                                   
          <form>
            <div class="col-sm-12 controls">
 				<div class="col-xs-6">           
             <button class="btn btn-success btn-lg " method="get" formaction="signin" >Sign in</button>
                 </div>
                 <div class="col-xs-6">
			<button class="btn btn-primary btn-lg "  method="get" formaction="register" >Register</button>
			    </div>
            </div>
          </div>
         </form>
  
 </div>
 </center>
</div>

</body>
</html>